
<link rel='stylesheet' href='/stylesheets/style.css' />

<header>
    <a href="/">
    <div id="logo" >


    </div>
    </a>


    <div id="search">



        <section class="searchProperties">
            <form id="product-search" action="/api/basicSearch" enctype="application/x-www-form-urlencoded">
                <input type="text" name="product" id="mySearch" placeholder="What are you looking for?">
                <button>Search</button>
            </form>
        </section>


    </div>
    <% if (typeof userID === 'undefined') { %>
    <% include ./login.ejs %>
    <% } else { %>
    <% include ./menuContent.ejs %>
    <% } %>
</header>
