
<link rel='stylesheet' href='/stylesheets/style.css' />

<header>
    <a href="/">
    <div id="logo" >


    </div>
    </a>

    <% if (typeof userId === 'undefined') { %>
    <% include ./login.ejs %>
    <% } else { %>
    <% include ./menuContent.ejs %>
    <% } %>
</header>
