<form id="signupBox" action="/register" method="post">
        <label>Username</label>
        <input type="text" name="username" class="form-control" aria-describedby="emailHelp">
        <label>Password</label>
        <input type="password" name="password0" class="form-control">
        <label>First Name</label>
        <input type="text" name="firstName" class="form-control">
        <label>Last Name</label>
        <input type="text" name="lastName" class="form-control">
        <label for="exampleInputEmail1">Email Address</label>
        <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <input type="submit" value="Submit">
</form>
