<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include ./partials/header %>
    <div id="MainBody">
      <div id="LeftBox">
        <div id="content">
          <p>Whether it be allergies, dietary restrictions, or ethical standards, its fair to assume that most of us have other activities we prefer over standing around in grocery stores and reading product labels. Food Detective is designed to quickly and easily provide all the information you will need to maintain your dietary lifestyle. Our time is valuable. Let’s take it back! </p>
        </div>
      </div>
      <div id="rightBox">
        <div>
        <h1 id="main-title">Sign Up</h1>
        <p id="subtitle">It only takes a minute!</p>
        </div>
          <% include ./partials/userForm.ejs%>
      </div>
    </div>
    <script src="public/assets/scripts.js"></script>
  </body>
</html>
